table, tr, td {
    padding: 20px;
}

td {
    outline: solid rgba(0, 0, 0, 0.1) 1px;
    background-color: rgba(128, 128, 128, 0.13);
}

td:hover {
    background-color: rgba(128, 128, 128, 0.23);
}

table {
    width: 100%;
}

input {
    margin: 10px;
    padding: 20px;
}

.button{
    background: rgba(128, 128, 128, 0.49);
    padding:10px;
}
.button:hover{
    cursor: pointer;
}